* {
  margin: 0;
  padding: 0;
}

.page-body {
  color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #222222;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.footer-left {
  width: 111px;
  display: flex;
  justify-content: space-between;
}

.footer-right {
  width: 168px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart {
  position: relative;
}

.circle {
  position: absolute;
  margin-left: 157px;
  margin-bottom: 23px;
}

.number {
  position: absolute;
  margin-left: 163px;
  margin-bottom: 21px;
}

.container-banner {
  background-color: #f1e4e6;
  width: 1600px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.banner-flex {
  display: flex;
}

.banner-left {
  width: 50%;
}

.banner-left img {
  max-width: 100%;
  max-height: 100%;
}

.flex-heading {
  margin-top: 290px;
  margin-left: 63px;
  display: flex;
}

.banner {
  background-color: #f1e4e6;
}

.band {
  width: 12px;
  height: 92px;
  background: #F16D7F;
}

.top-heading {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
}

.heading {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

.red {
  color: #f16d7f;
}

.offer-imgs {
  display: flex;
  flex-direction: column;
}

.offer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.offers {
  width: 360px;
  height: 260px;
  text-align: center;
  background-color: #ccc;
}

.text {
  padding: 105px;
  white-space: nowrap;
}

.text-bottom {
  padding-top: 65px;
}

.offer-1 {
  background-image: url(img/offer-1.jpg);
}

.offer-2 {
  background-image: url(img/offer-2.jpg);
}

.offer-3 {
  background-image: url(img/offer-3.jpg);
}

.offer-4 {
  background-image: url(img/offer-4.jpg);
  height: 180px;
  text-align: center;
  background-color: #ccc;
  margin-bottom: 96px;
}

.top {
  font-size: 16px;
  margin: 0;
  color: white;
}

.bottom {
  font-weight: 700;
  font-size: 24px;
  color: #f16d7f;
  margin: 0;
}

.catalog-heading {
  color: #222222;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 6px;
}

.main-catalog {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-bottom: 48px;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 360px;
  margin-bottom: 30px;
}

.product-img {
  background-color: #aba9a7;
}

.product {
  background: #F8F8F8;
}

.product-title {
  padding-top: 25px;
  font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #000000;
margin-bottom: 13px;
}

.product-description {
  font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
margin-bottom: 18px;
}

.product-price {
  font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
padding-bottom: 20px;
}

.button-wrap {
  margin: 0 auto;
}

.button {
  margin-top: 19px;
  font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F26376;
border: 1px solid #FF6A6A;
text-decoration: none;
display: block;
padding: 15px 39px; 
}

.advantages {
  margin-top: 96px;
  background: #222224;
  height: 341px;
}

.advantages-wrapper {
  display: flex;
  justify-content: center;
}

.advantage {
  text-align: center;
  padding-top: 103px;
}

.advantage-heading {
  font-weight: 400;
font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
margin-top: 28px;
margin-bottom: 16px;
}

.advantage-description {
  font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
width: 360px;
}

.footer-top {
  background: url(img/footer-bg.jpg) center no-repeat;
  background-color: #f8f8f828;
  height: 448px;
}
